@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #eff5fc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main style */

main {
  display: flex;
  width: 850px;
  padding: 10px;
  border-radius: 10px;
  height: 500px;
  background-color: #fff;
}

@media(max-width:860px) {
  main {
    width: 600px;
    height: 380px;
  }
}


@media(max-width:700px) {
  main {
    width: 380px;
    height: 600px;
    flex-direction: column;
  }
}

/* side bar style */
.side-bar {
  width: 28%;
  height: 100%;
  background: url(/images/bg-sidebar-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.side-bar .circle {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.side-bar .circle span {
  margin-right: 20px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  font-weight: bold;
  color: #fff;
}

.side-bar .circle.active span {
  background-color: #eff5fc;
  color: black;
}

.side-bar .circle .circle-info {
  display: flex;
  flex-direction: column;
}

.side-bar .circle .circle-info small {
  color: #eff5fc;
  margin-bottom: 7px;
  font-size: 10px;
}

.side-bar .circle .circle-info p {
  font-weight: 500;
  color: white;
  text-transform: uppercase;
}

@media(max-width:860px) {
  .side-bar {
    width: 35%;
  }

  .circle span {
    width: 20px;
    height: 20px;
  }

  .circle p {
    font-size: 12px;
  }
}

@media(max-width:700px) {
  .side-bar {
    width: 100%;
    height: 120px;
    background: url(/images/bg-sidebar-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }

  .side-bar .circle .circle-info {
    display: none;
  }
}

/* all-steps style */
.all-steps {
  width: calc(100% - 28%);
  height: 100%;
  padding: 10px;
  display: flex;
}



.all-steps .stp {
  width: 100%;
  height: 100%;
  padding: 1rem 4rem;
}

.all-steps .stp .header h2 {
  font-weight: 700;
}

.all-steps .stp .header p {
  font-size: 12px;
  color: grey;
  margin: 7px 0 20px 0;
}

@media(max-width:860px) {
  .all-steps {
    width: calc(100% - 35%);
  }

  .all-steps .stp {
    padding: 0rem 1rem;
  }
}

@media(max-width:700px) {
  .all-steps {
    width: 100%;
  }

  .all-steps .stp {
    padding: 0;
  }
}

/* ----------------------step-1 */

.stp-1 {

  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form .label .err {
  color: red;
  font-weight: 600;
  font-size: 12px;
  display: none;
}



.error {
  border: 1px solid red !important;
}

.form input {
  border: 1px solid #ddd;
  outline: none;
  margin-bottom: 20px;
  border-radius: 10px;
  height: 30px;
  padding: 0 10px;
  transition: 0.1s;
}

.nxt-prev {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: royalblue;
  padding: 5px;
  border-radius: 10px;
}

.nxt-prev .nxt {
  background-color: white;
  color: black;
  margin: auto 0 0 auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;
}


.nxt-prev .nxt:hover {
  background-color: black;
  color: white;
}

@media(max-width:860px) {

  .prev,
  .nxt {
    font-size: 13px;
    padding: 5px;
  }
}

/* -----------------------step-2 */
.stp-2 {
  display: none;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options .option {
  border: 1px solid #bbb;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 150px;
  justify-content: space-between;
  text-align: center;
}

.options .option:hover {
  background-color: #ddd;
}

.options .option.active {
  transform: scale(1.1);
  background-color: #eff5fc;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.options .option img {
  margin: 0 auto;
}

.options .option p {
  font-weight: bold;
  margin: 8px 0;
}

.options .option .price {
  display: flex;
  align-items: center;
  color: black;
  font-size: 12px;
}

.options .option .price span {
  margin: 0 2px;
  font-size: 17px;
  font-weight: 700;
}

.options .option .price .how {
  font-weight: 700;
  font-size: 17px;
}


.options .option .free {
  font-size: 13px;
  color: royalblue;
  opacity: 0;
  pointer-events: none;
}

.options .option .free.active {
  opacity: 1;
  pointer-events: all;
}

.toggle {
  display: flex;
  justify-content: center;
  background-color: #eff5fc;
  border-radius: 10px;
  padding: 10px 5px;
  align-items: center;
}

.toggle input {
  width: 0;
  height: 0;
}

.switch {
  margin: 0 30px;
  width: 60px;
  border-radius: 50px;
  height: 30px;
  background-color: #483eff;
  position: relative;
  cursor: pointer;
}

.switch .round {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  background-color: #fff;
  border-radius: 50%;
}

.switch input:checked~.round {
  -webkit-transform: translate(28px, -50%);
  -ms-transform: translate(28px, -50%);
  transform: translate(28px, -50%);
}

.nxt-prev .prev {
  border: none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  outline: none;
}

.nxt-prev .prev:hover {
  color: white;
  background-color: black;
}

.nxt-prev .prev i {
  margin-right: 7px;
}

@media(max-width:860px) {
  .stp-2 .options .option {
    width: 96px;
    height: auto;
  }

  .stp-2 .options .option p {
    font-size: 14px;
  }

  .stp-2 .toggle {
    padding: 5px 0;
    margin-top: 10px;
  }

  .stp-2 .toggle .switch {
    width: 60px;
    height: 20px;
    margin: 0 10px;
  }

  .switch .round {
    width: 15px;
    height: 15px;
  }

  .switch input:checked~.round {
    -webkit-transform: translate(35px, -50%);
    -ms-transform: translate(35px, -50%);
    transform: translate(35px, -50%);
  }

  .mo,
  .yrs {
    font-size: 12px;
    font-weight: 600;
  }
}

@media(max-width:700px) {
  .stp-2 .options .option p {
    font-size: 12px;
  }

  .options .option .free {
    font-size: 14px;
  }
}

@media(max-width:400px) {
  .stp-2 .options {
    justify-content: space-around;
  }

  .stp-2 .options .option {
    width: 80px;
    padding: 10px;
  }

  .options .option .free {
    font-size: 10px;
  }
}

@media(max-width:300px) {
  .stp-2 .options {
    flex-direction: column;
  }

  .stp-2 .options .option {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin: 5px 0;
  }
}

/* --------------------------step-3 */
.stp-3 {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.stp-3 .offers {
  display: flex;
  flex-direction: column;
}

.stp-3 .offers .offer {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #483eff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.stp-3 .offers .offer.active {
  background-color: #edf5ff;
  transform: scale(1.1);
}

.stp-3 .offers .offer .left {
  display: flex;
  align-items: center;
}

.stp-3 .offers .offer .left .descr {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.stp-3 .offers .offer .left .descr h4 {
  color: #140f68;
  font-weight: 600;
}

.stp-3 .offers .offer .left .descr p {
  font-size: 12px;
  color: #9e9e9e;
}

.stp-3 input {
  margin-right: 10px;
  accent-color: #483eff;
  transform: scale(1.3);
}


.stp-3 .offers .offer span {
  font-weight: 700;
}

.stp-3 .offers .offer .price-offer {
  display: flex;
  align-items: center;
}

@media(max-width:860px) {
  .stp-3 .offers .offer {
    margin: 5px 0;
    padding: 5px 10px;
  }
}

@media(max-width:500px) {
  .stp-3 .offers .offer .descr p {
    font-size: 10px !important;
  }
}

/* ------------------------step-4 */
.stp-4 {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.stp-4 .result {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #edf5ff;
  padding: 10px;
  border-radius: 10px;
}

.stp-4 .result .change {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0 20px 0;
}


.stp-4 .result .change .right {
  color: #140f68;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #483eff;
  font-weight: 700;
}

.stp-4 .result .plus .price-of-offer {
  color: #483eff;
  font-weight: 700;
}

.stp-4 .result .change .left a {
  background-color: royalblue;
  color: white;
  padding: 2px 5px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px 0 0 0;
}

.stp-4 .result .change .left .plane {
  color: #140f68;
  font-weight: 600;
  margin-bottom: 10px;
}

.stp-4 .result .plus {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.stp-4 .result .plus h3 {
  padding: 5px;
  font-weight: 600;
}

.stp-4 .result .plus .offr {
  display: flex;
  align-items: center;
  margin: 10px 0;
  justify-content: space-between;
}

.stp-4 .result .plus .offr p {
  color: #bbb;
  font-size: 14px;
}

.stp-4 .result .plus .offr .price-of-offer {
  display: flex;
  align-items: center;
}

.stp-4 .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.stp-4 .total p {
  color: black;
  display: flex;
  align-items: center;
  gap: 5px;
}




.stp-4 .total .totl-price {
  display: flex;
  align-items: center;
  gap: 2px;
  color: red;
  font-weight: bolder;
}

@media(max-width:860px) {
  .stp-4 .left p {
    font-size: 12px;
    font-weight: bolder !important;
  }

  .stp-4 .left a {
    font-size: 13px;
  }

  .stp-4 .plus p {
    font-weight: bold;
  }
}

/* step-5--------------------- */
.thanks {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.thanks h1 {
  margin: 10px 0;
  font-weight: bold;
  color: #140f68;
}

.thanks p {
  color: #9e9e9e;
  font-size: 15px;
}

@media(max-width:860px) {
  .thanks p {
    font-size: 13px;
  }
}